<meta charset="utf-8" />
<!-- use the following meta to force IE use its most up to date rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<title>Smart Checker UI</title>

<!-- stylesheets are put here, refer to files/css documentation -->
<!-- some scripts should be  here, refer to files/javascript documentation -->

<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css')  }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='lib/awesome/font-awesome.min.css') }}">
<!--[if IE 7]>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/awesome/font-awesome-ie7.min.css') }}">
<![endif]-->
<!--[if lte IE 8]>
<script type="text/javascript" src="{{ url_for('static', filename='lib/html5shiv/html5shiv.min.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/respond/respond.min.js')  }}"></script>
<![endif]-->
