<div class="jsloader">
    <script type=text/javascript>
        var SCRIPT_ROOT = {{ request.base_url|tojson|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/fuelux/fuelux.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jqBootstrapValidation/jqBootstrapValidation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootgrid/jquery.bootgrid.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/vuejs/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/scrollup/scrollup.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/switch/switch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/buttons/buttons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/sweetalert/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/pnotify/pnotify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/codemirror/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/codemirror/autorefresh.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/codemirror/matchbrackets.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/codemirror/shell.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/poshytip/poshytip.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% for jsmodule in jsmodules %}
        <script src="{{ url_for('static', filename='js/'+jsmodule+'.js') }}" charset="utf-8"></script>
    {% endfor %}

    <!-- inline scripts related to this page -->
</div>
