{% extends "base.html" %}
{% block content %}
    <div ng-controller="test">
    <form class="form-horizontal" ng-submit="process_form()">
        <div class="form-group">
            <label for="test_host" class="col-sm-2 control-label">Host</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test_host" placeholder="Please input the host address" required ng-model="formData.host">
            </div>
        </div>
        <div class="form-group">
            <label for="test_user" class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="user" placeholder="username" required ng-model="formData.user">
            </div>
        </div>
        <div class="form-group">
            <label for="test_password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="test_password" placeholder="Password" required ng-model="formData.passwd">
            </div>
        </div>
        <div class="form-group">
            <label for="test_type" class="col-sm-2 control-label">Connect</label>
            <div class="col-sm-10">
                <select class="form-control" id="test_type" ng-model="formData.conntype">
                    <option>Telnet</option>
                    <option>SSH</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="test_command" class="col-sm-2 control-label">command</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test_command" placeholder="ls -l" required ng-model="formData.command">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-disabled="form_disabled" class="btn btn-default" ng-bind-html-unsafe="submit_button"></button>
            </div>
        </div>
    </form>
        <div ng-hide="hidden_pannel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Test result</h3>
                </div>
                <div class="panel-body">
                    <code>
                        {[ result_data ]}
                    </code>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
